{#{% extends 'trainer/trainerhome.html' %}#}
{##}
{#{% block body %}#}
{##}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#<form action="/myapp/editdiet_post/" method="post">#}
{#    {% csrf_token %}#}
{#    <table border="2">#}
{#        <tr>#}
{#            <td>BMI</td>#}
{#            <td><input type="text" name="BMI" value="{{ data.bmi }}"></td>#}
{#            <td>TYPE</td>#}
{#            <td><input type="text" name="type" value="{{ data.type }}"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>GENDER</td>#}
{#            <td>#}
{#                <input type="radio" name="gender" value="male" {% if data.gender == 'male' %}checked{% endif %}>MALE<br>#}
{#                <input type="radio" name="gender" value="female" {%  if data.gender == 'female' %}checked{% endif %}>FEMALE<br>#}
{#                <input type="radio" name="gender" value="transgender" {% if data.gender == 'transgender' %}checked{% endif %}>TRANSGENDER<br>#}
{#            </td>#}
{#            <td>AGE</td>#}
{#            <td><input type="text" name="age" value="{{ data.age }}"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>HEIGHT</td>#}
{#            <td><input type="text" name="height" value="{{ data.height }}"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>WEIGHT</td>#}
{#            <td><input type="text" name="weight" value="{{ data.weight }}"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>DIET PLAN</td>#}
{#            <td><input type="text" name="diet plan" value="{{ data.dietplan }}"></td>#}
{##}
{#        </tr>#}
{#        <tr align="center">#}
{#            <td><input type="submit" value="ADD"></td>#}
{#        </tr>#}
{#    </table>#}
{#</form>#}
{##}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{% extends 'trainer/trainer_index.html' %}
{% block body %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Edit Diet Plan</h5>
    </div>
    <div class="card-body">
      <form action="/myapp/editdiet_post/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ data.id }}">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="bmiInput" class="form-label">BMI</label>
            <input type="text" class="form-control" id="bmiInput" name="BMI" value="{{ data.bmi }}">
          </div>
          <div class="col-md-6">
            <label for="typeInput" class="form-label">Type</label>
            <input type="text" class="form-control" id="typeInput" name="type" value="{{ data.type }}">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label d-block">Gender</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="genderMale" value="male" {% if data.gender == 'male' %}checked{% endif %}>
              <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="female" {% if data.gender == 'female' %}checked{% endif %}>
              <label class="form-check-label" for="genderFemale">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="genderTrans" value="transgender" {% if data.gender == 'transgender' %}checked{% endif %}>
              <label class="form-check-label" for="genderTrans">Transgender</label>
            </div>
          </div>
          <div class="col-md-6">
            <label for="ageInput" class="form-label">Age</label>
            <input type="text" class="form-control" id="ageInput" name="age" value="{{ data.age }}">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="heightInput" class="form-label">Height</label>
            <input type="text" class="form-control" id="heightInput" name="height" value="{{ data.height }}">
          </div>
          <div class="col-md-6">
            <label for="weightInput" class="form-label">Weight</label>
            <input type="text" class="form-control" id="weightInput" name="weight" value="{{ data.weight }}">
          </div>
        </div>

        <div class="mb-3">
          <label for="dietPlanInput" class="form-label">Diet Plan</label>
          <input type="text" class="form-control" id="dietPlanInput" name="diet_plan" value="{{ data.dietplan }}">
        </div>
 <div class="mb-3">
          <label for="dietPlanInput" class="form-label">workout plan</label>
          <input type="text" class="form-control" id="dietPlanInput" value="{{ data.work_out }}" name="work_out" placeholder="Enter workout plan">
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
