{#{% extends 'admin/admin_index.html' %}#}
{#{% block body %}#}
{#<body>#}
{#<form>#}
{#    <table border="1">#}
{#        <tr>#}
{#            <td>Service</td>#}
{#            <td>Details</td>#}
{#            <td>Fee</td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td><a href="">Edit</a> </td>#}
{#            <td><a href="">Delete</a> </td>#}
{#        </tr>#}
{#        <tr align="center">#}
{#            <td colspan="7"><a href="">Add</a> </td>#}
{#        </tr>#}
{#    </table>#}
{#</form>#}
{##}
{#</body>#}
{#{% endblock %}#}


{% extends 'admin/admin_index.html' %}
{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<div class="container mt-5">

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Service Plans</h4>
        </div>

        <div class="card-body">

            <table class="table table-striped table-bordered text-center" id="myTable" class="display" style="width:100%" >
                <thead class="table-dark">
                    <tr>
                        <th>Service</th>
                        <th>Details</th>
                        <th>Fee</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    {% for i in data %}
                </thead>

                <tbody>
                    <tr>
                        <td>{{ i.service_name }}</td>
                        <td>{{ i.details }}</td>
                        <td>{{ i.fee }}</td>
                        <td><a href="/myapp/edit_service_plan/{{ i.id }}" class="btn btn-sm btn-warning">Edit</a></td>
                        <td><a href="/myapp/delete_service_plan/{{ i.id }}" class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="text-center">
                <a href="/myapp/add_service_plan/" class="btn btn-success px-4 mt-3">Add New Service</a>
            </div>

        </div>
    </div>

<script>
    $(document).ready(function () {
      $("#myTable").DataTable();
    });
  </script>

</div>
{% endblock %}
